.img-carrosel{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.legenda{
    background-color: rgba(0, 0 , 0 , 0.7);
   
   }
   .legenda h5{
       font-size: 2.4rem;
   }
   
   .legenda p{
       font-size: 2rem;
   }
   
   .legenda2{
       background-color: rgba(0, 0, 0, 0.7);
   }
   
   .legenda2 h5{
       font-size: 2.4rem;
   }
   .legenda2 p{
       font-size: 2rem;
   }
   
   .legenda3{
       background-color: rgba(0, 0, 0, 0.7);
   }
   
   .legenda3 h5{
       font-size: 2.4rem;
   }
   .legenda3 p{
       font-size: 2rem;
   }