
body{
    background-color:var(--color-base-white-100) !important;
    font-family: Arial, sans-serif;
}
:root{
    font-size: 62.5%; 
    --color-base-text: black;
    --color-base-white-100:#EDE9DA;
    --color-base-white-200: #B6DEF9;
    --color-base-white-300:#f2e5bf;
    --color-base-blue-100:#12AACC;
    --color-base-blue-200:#007EB0;
    --color-base-blue-300:#053F5C;
    --color-base-yellow-100:#FAC420;
    --color-base-yellow-200:#F5A40F;
    --color-base-yellow-300:#D6711A;
    --color-base-red-200: #d12420;
    --color-base-red-300:#7e1816;


}

header{
    background-color: var(--color-base-yellow-100);
    color: var(--color-base-text);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}
header nav a {
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
.ms-3{
    font-size: 6rem;
    text-align: center;
    font-family: "brush-script-std", sans-serif;
}

.nav-link{
    color: var(--color-base-text) !important;
    font-size: 3rem !important;
}
#nav-botao{
    background-color: var(--color-base-yellow-100) !important;
    margin: none;
}

#logo{
    height: 150px;
    width: 150px;
}
.img-carrosel{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px; 
    margin-top: 10px;  
    
}
.legenda{
    background-color: rgba(0, 0 , 0 , 0.7);
    border-radius: 30px;
   
   }
   .legenda h5{
       font-size: 2.4rem;
   }
   
   .legenda p{
       font-size: 2rem;
   }
   
   .legenda2{
       background-color: rgba(0, 0, 0, 0.7);
       border-radius: 30px;
   }
   
   .legenda2 h5{
       font-size: 2.4rem;
   }
   .legenda2 p{
       font-size: 2rem;
   }
   
   .legenda3{
       background-color: rgba(0, 0, 0, 0.7);
       border-radius: 30px;
   }
   
   .legenda3 h5{
       font-size: 2.4rem;
   }
   .legenda3 p{
       font-size: 2rem;
   }


.card{
    min-height: 200px;
    box-shadow: 15px 10px 20px black;
    font-size: 1.8rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-base-yellow-100);
    
}

/* Agendamento Thony */ 

.data3{
    background-color: var(--color-base-white-200);
    width: 400px;
    height: 47px;
    display: flex;
    font-size: 28px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -13px;
    color: var(--color-base-text);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
    border-radius: 10px;
    margin-left: 0px;
    box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);

}
.tabelaInicial{
  margin-left: 40px;
}
#tabelaRemadas {
  width: 400px;
  border-collapse: collapse;
  margin-left: 0px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--color-base-white-200); 
  border: 1px solid var(--color-base-blue-300); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  overflow-y: auto; 
}
#tabelaRemadas thead {
  background-color: var(--color-base-blue-100); 
  color: var(--color-base-text);
  text-align: left;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

#tabelaRemadas th {
  padding: 12px 15px;
  font-size: 16px;
}
#tabelaRemadas tbody tr {
  background-color: var(--color-base-white-200);
  border-bottom: 1px solid var(--color-base-blue-300);
}

#tabelaRemadas tbody tr:hover {
  background-color: var(--color-base-blue-200);
}
#tabelaRemadas td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
}
#tabelaRemadas .selectRemadaPiaçaguera,
#tabelaRemadas .selectRemadaPorto,
#tabelaRemadas .selectRemadaIlhaMel,
#tabelaRemadas .selectRemadaNoturna {
  background-color: var(--color-base-blue-100);
  color: var(--color-base-text);
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#tabelaRemadas .selectRemadaPiaçaguera:hover,
#tabelaRemadas .selectRemadaPorto:hover,
#tabelaRemadas .selectRemadaIlhaMel:hover,
#tabelaRemadas .selectRemadaNoturna:hover {
  background-color: var(--color-base-yellow-300); 
  transform: translateY(-4px); 
}
#tabelaRemadas .selectRemadaPiaçaguera:active,
#tabelaRemadas .selectRemadaPorto:active,
#tabelaRemadas .selectRemadaIlhaMel:active,
#tabelaRemadas .selectRemadaNoturna:active {
  background-color: var(--color-base-white-300); 
  transform: translateY(0);
}
#tabelaRemadas tbody tr:nth-child(even) {
  background-color: var(--color-base-white-100); 
}
#tabelaRemadas .selectRemadaPiaçaguera.destaque,
#tabelaRemadas .selectRemadaPorto.destaque,
#tabelaRemadas .selectRemadaIlhaMel.destaque,
#tabelaRemadas .selectRemadaNoturna.destaque {
  background-color:var(--color-base-yellow-100) ; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#tabelaRemadas .selectRemadaPiaçaguera.destaque:hover,
#tabelaRemadas .selectRemadaPorto.destaque:hover,
#tabelaRemadas .selectRemadaIlhaMel.destaque:hover,
#tabelaRemadas .selectRemadaNoturna.destaque:hover {
  background-color: var(--color-base-yellow-100); 
  transform: translateY(-4px);
}
.data{
  background-color: var(--color-base-white-200);
  width: 450px;
  height: 47px;
  display: flex;
  font-size: 28px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 10px;
  margin-left: -10px;
  box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);

}

.mes{
  font-size: 30px;
  align-items: center;
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  text-transform: uppercase;
  background-color: var(--color-base-white-200);
  border-radius: 10px;
  padding-left: 30px;
}

.dias{
  font-size: 20px;
  text-indent: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.354);
  color:var(--color-base-text);
  background-color: var(--color-base-white-200);
  text-align: left !important;
  height: 30px;
  width: 30px;
}

.dom{
  text-align: left;
  width: 10px;
}

.semanaOff {
  opacity: 0.5;
  color: var(--color-base-red-200);

  
}

.semanaOn{
  opacity: 1;
}

.semanaOn, .semanaOff{
  align-items: center;
  word-spacing: 100px;
  height: 50px;
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase; 

}

.semanaOff, .semanaOn {
  font-size: 18px; 
  border: none; 
  background-color: var(--color-base-blue-100);
  color: var(--color-base-text);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  margin: 8px 0; 
  font-family: 'Arial', sans-serif; 
}

.semanaOff, .semanaOn:hover {
  background-color: var(--color-base-yellow-300); 
  transform: translateY(-4px); 
}

.semanaOff, .semanaOn:active {
  background-color: var(--color-base-yellow-100); 
  transform: translateY(0); 
}

.semanaOff, .semanaOn:disabled {
  background-color: var(--color-base-text); 
  color: var(--color-base-text); 
  cursor: not-allowed; 
  box-shadow: none; 
}

.semanaOff, .semanaOn.destaque {
  background-color: var(--color-base-red-200); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.semanaOff, .semanaOn.destaque:hover {
  background-color: var(--color-base-red-200); 
  transform: translateY(-4px);
}


.semanaOff, .semanaOn.confirmacao {
  background-color: var(--color-base-red-200);
  color: var(--color-base-text); 
}


.semanaOff, .semanaOn.confirmacao:hover {
  background-color: var(--color-base-red-200); 
  transform: translateY(-4px);
}

.semanaOn.selecionado  {
  background-color: var(--color-base-yellow-100); 
  color: var(--color-base-text);
  transform: scale(1.1); 
}

.horario{
  background-color: var(--color-base-white-200);
  width: 50px;
  height: 48px;
  display: flex;
  font-size: 28px;
  align-items: center;
  padding-left: 10px;
  color: var(--color-base-text);
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);*/
  border-radius: 10px;
}

.data2{
  background-color: var(--color-base-white-200);
  width: 400px;
  height: 47px;
  display: flex;
  font-size: 28px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-base-text);
 /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);*/
  border-radius: 10px;
  margin-left: -10px;
  box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);

}

#horas {
  background-color: var(--color-base-white-200); 
  color: var(--color-base-text); 
  border: none; 
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  /*transition: background-color 0.3s, transform 0.2s;*/ 
  
  height: 30px;
  margin-left: 110px;
}
#horas:hover {
  background-color: var(--color-base-blue-100); 
  transform: scale(1.05); 
  color: var(--color-base-text);
}


#horas:focus {
  outline: none; 
  background-color: var(--color-base-white-200); 
  box-shadow: 0 0 5px var(--color-base-blue-300); 
}


#horas option {
  background-color: var(--color-base-white-200); 
  color: var(--color-base-text) !important;
  font-size: 16px; 
  padding: 10px; 
  font-weight: bold;
}


#horas option:hover {
  background-color: var(--color-base-blue-100); 
  color: var(--color-base-text) !important; 
}


#horas option:first-child {
  color: var(--color-base-text) !important; 
  font-style: italic; 
}


#horas:valid {
  border: 2px solid var(--color-base-blue-300); 
}

#horas:invalid{ 
  border: 2px solid var(--color-base-red-200); 
}

.quantidade{
  background-color:var(--color-base-white-200);
  width: 3000px;
  height: 48px;
  font-size: 28px;
  align-items: center;
  display: flex;
  padding-left: 10px;
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 10px;
  
}

.detalhes-preco{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.fundoPessoa{
  height: 200px;
  background-color: var(--color-base-white-200);
  border-radius: 10px;
  box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.pessoa{
  background-color: var(--color-base-white-200);
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.valor{
  background-color: var(--color-base-white-200);
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.quantidadeCompra{
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 5px;
  justify-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 32px;
  
}

.iconeQuantidade {
  font-size: 14px;
  padding-right: -1000px; 
  font-weight: bold;
  color: var(--color-base-text); 
}
.preco{
  padding-left: 100px;
  font-size: 30px;
  width: 100px;
  padding-left: 100px;
  
}



.btn-confirmar {
  background-color: var(--color-base-yellow-100); 
  color: var(--color-base-text); 
  border: none; 
  border-radius: 12px; 
  padding: 12px 30px;
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  box-shadow: 0 4px 8px var(--color-base-text); 
  width: 380px;
  
}


.btn-confirmar:hover {
  background-color: var(--color-base-yellow-300); 
  transform: scale(1.05);
}


.btn-confirmar:focus {
  outline: none; 
  box-shadow: 0 0 8px var(--color-base-text); 
}


.btn-confirmar:active {
  background-color: var(--color-base-yellow-300); 
  transform: scale(0.98); 
}
.agendamento2 {
  display: flex; 
  align-items: center; 
  gap: 10px;
  font-family: Arial, sans-serif;
  width: 400px;
  margin-left: 420px;
  
}

.quantidadeCompra{
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 5px;
  justify-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 32px;
  color: black;

}

.carrinho img {
  width: 60px; 
}

.data5{
  background-color: var(--color-base-white-200);
  width: 400px;
  height: 80px;
  display: flex;
  font-size: 28px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-base-text);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
  border-radius: 10px;
  margin-left: -10px;
  box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);

}

.carrinhoIcone{
  padding: 10px;
  margin-left: -80px;
  margin-bottom: -20px;
}

.data7{
    background-color: var(--color-base-white-200);
    width: 320px;
    height: 60px;
    font-size: 28px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -13px;
    color: var(--color-base-text);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
    border-radius: 10px;
    margin-left: 550px;
    box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);

}

.alinhamento{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 24px;
  gap: 12px;
  
  
}
@media (max-width: 900px){ 


    .alinhamento{
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
    .calendario{
      align-items: center;
      display: flex;
      width: 50px;
      margin-left: 40px;
      margin-top: 10px;
    }

    .passoDois{
      margin-top: 10px;
      
    }

    .data7{
      background-color: var(--color-base-white-200);
      width: 500px;
      height: 45px;
      font-size: 25px;
      align-items: center;
      padding: 4px;
      color: var(--color-base-text);
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
      border-radius: 10px;
      margin-left: 10px;
      box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.37);
      margin-bottom: 10px;
  }
    .data2{
      margin-left: 50px;
    }
    .fundoPessoa{
      margin-left: 70px;
    }
    .data5{
      margin-left: 50px;
    }
    .btn-confirmar{
      margin-left: 60px;
    }
}
  /* alan rodapé e parceiros */

  .swiper {
    width: 600px;
    height: 500px;
} 
.swiper img{
    width: 100%;
    object-fit: cover;
}

swiper-container {
  width: 60%;
  height: 290%;
  
}

swiper-slide {
  text-align: center;
  background: var(--color-base-text);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;

}

swiper-slide img {
  display: block;
  width: 50%;
  height: 80%;
  object-fit: cover;
}

footer {
  display: flex;
  text-align: center; 
  background-color:var(--color-base-white-200); 
  color: var(--color-base-text);
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 15vh;
  margin-bottom: -23px;
  font-size: 1.8rem;
}

.rede-sociais {
  display: flex;
  /*gap: 24px;*/
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

.rede-sociais img {
  width: 25px;
  height: 25px;
}

.rede-sociais p {
  display: flexbox;
}

.direitos {
  margin-top: 20px;
  background-color: var(--color-base-white-200);
  color:var(--color-base-text);
  margin-bottom: -10px;
}

.wave-container {
  position: relative;
  width: 100%;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: var(--color-base-white-200);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  100% {
      transform: translate3d(-90px, 0, 0);
  }
  0% {
      transform: translate3d(85px, 0, 0);
  }
}


.barco {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 20px;
  left: -120px; /* Começa fora da tela */
  background-image: url("../assest/canoa\ gif.png");
  background-size: cover;
  animation: moverBarco 10s linear infinite;
  
}

@keyframes moverBarco {
  100% {
      left: -140px;
  }
  0% {
      left: 95%;
  }
}

@media (max-width: 768px) {
  .mySwiper {
    padding: 10px;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .direitos p,
  .rede-sociais p {
    font-size: 14px;
  }

  .rede-sociais  {
    margin-bottom:0px;
  }
  .direitos{
    margin-bottom: 0px;
  }
  .rede-sociais img {
    width: 25px;
    height: auto;
  }
  
}

@media (min-width: 769px) {
  .mySwiper {
    padding: 20px;
  }

  .swiper-slide {
    width: 22% !important; 
  }

  .mySwiper {
    border-radius: 30px;
  }
  
  .mySwiper img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 900px) {
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-bottom: -23px;
  }

  .rede-sociais{
    position: relative;
    right: 0;
    margin-top: 1px;
  }
  .rede-sociais img {
    width: 25px;
    height: auto;
  }
}

  @media (max-width:768px)  {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -23px;
    }
    #logo {
        height: 100px;
        width: 100px;
       }
    .ms-3{
        font-size: 2.5rem;
       }
    .nav-link{
        font-size: 2.3rem !important;
       }
    
  }











  





  