
body{
    background-color:var(--color-base-white-100) !important;
    font-size: "";
}
:root{
    font-size: 62.5%; 
    --color-base-text: black;
    --color-base-white-100:#EDE9DA;
    --color-base-blue-200:#12AACC;
    --color-base-yellow-100:#FAC420;
    --color-base-yellow-200:#F5A40F;
    --color-base-yellow-300:#D6711A;
    --color-base-blue-300:#007EB0;
    --color-base-red-300: #d12420;
}

header{
    background-color: var(--color-base-yellow-100);
    color: var(--color-base-text);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}
header nav a {
    color:var(--color-base-text);
    text-decoration: none;
    margin: 0px 15px;    
   /* margin-top: auto;*/
}
header nav a:hover {
    text-decoration: underline;
}
.ms-3{
    font-size: 3rem;
    text-align: center;
    font-family: "brush-script-std", sans-serif;
}

.nav-link{
    color: var(--color-base-text) !important;
    font-size: 5rem;
    
    /*font-weight: bold !important;*/
}

#logo{
    height: 150px;
    width: 150px;
}
.img-carrosel{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;   
    
}
.legenda{
    background-color: rgba(0, 0 , 0 , 0.7);
    border-radius: 30px;
   
   }
   .legenda h5{
       font-size: 2.4rem;
   }
   
   .legenda p{
       font-size: 2rem;
   }
   
   .legenda2{
       background-color: rgba(0, 0, 0, 0.7);
       border-radius: 30px;
   }
   
   .legenda2 h5{
       font-size: 2.4rem;
   }
   .legenda2 p{
       font-size: 2rem;
   }
   
   .legenda3{
       background-color: rgba(0, 0, 0, 0.7);
       border-radius: 30px;
   }
   
   .legenda3 h5{
       font-size: 2.4rem;
   }
   .legenda3 p{
       font-size: 2rem;
   }


.card{
    min-height: 200px;
    box-shadow: 15px 10px 20px black;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-base-yellow-300);
}

.calendario{
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
#botao{
    align-items: center;
    word-spacing: 100px;
    height: 50%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase; 

}
.botaoNav{
    width: 50px !important;
}
.semanaOff {
    opacity: 0.5;
    color: var(--color-base-red-300);
    
}
.semanaOn{
    opacity: 1;
}
.mes{
    font-size: 30px;
    align-items: center;
    color:black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.405);
    text-transform: uppercase;
    background-color: var(--color-base-blue-200);
    border-radius: 10px;
}
.dias{
    font-size: 20px;
    text-indent: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.354);
    color: var(--color-base-text);
    background-color: var(--color-base-blue-200);
    text-align: left !important;
    height: 100%;
    width: 100%;
}
.dom{
    text-align: left;
    width: 10px;
}
@media (min-width:768px) {
   #logo {
    height: 100px;
    width: 100px;
   }
   .ms-3{
    font-size: 6rem;
   }
   .nav-link{
    font-size: 2.3rem !important;
   }

}

.swiper {
    width: 600px;
    height: 500px;
} 
.swiper img{
    width: 100%;
    object-fit: cover;
}
swiper-container {
    width: 60%;
    height: 290%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 650px;
  }
  
  swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  
  }
  
  swiper-slide img {
    display: block;
    width: 50%;
    height: 80%;
    object-fit: cover;
  }
  
  .apoio{
    width: 1%;
    height: 5%;
  }
  
  footer {
    display: flex;
    text-align: center; 
    padding: 20px; 
    background-color:var(--color-base-blue-300); 
    color: var(--color-base-white-100);
    justify-content: center;
    width: 100%;
  }
  
  .rede-sociais {
    display: flex;
    gap: 24px;
    position: absolute;
    right: 32px;
    
  }
  
  
  .rede-sociais img {
    width: 32px;
    height: 32px;
  }
  
  .rede-sociais p {
    display: block;
  }
  
  @media (max-width:768px)  {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    .rede-sociais{
    position: relative;
    right: 0;
    }
    
  }