*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: Arial, sans-serif;
    background-color: #FAC420;
   
 }
 header{
    background-color: #FAC420;
    color: var(--color-base-text);
    padding-left: 20px;
    padding-right: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    
}
header nav a {
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
.ms-3{
    font-size: 6rem;
    text-align: center;
    font-family: "brush-script-std", sans-serif;
    color: black;
    
}


.nav-link{
    color: var(--color-base-text) !important;
    font-size: 5rem !important;
}
#nav-botao{
    background-color: var(--color-base-yellow-100) !important;
    margin: none;
}

#logo{
    height: 150px;
    width: 150px;
}

.container-gallery {
    min-height:90vh ;
    width: 90%;
    margin: 10px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(./assest/fundo04.png);
    background-size: cover;
    backdrop-filter: blur(10px);

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 0;
    list-style: none;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


#cabecalho {
    text-align: center;
    color: #B6DEF9;
    margin-bottom: 25px;
}


.gallery-item:hover h3 {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.overlay h3 {
    font-size: 24px;
    text-align: center;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

footer {
    display: flex;
    text-align: center; 
    padding: 20px; 
    background-color:#007EB0; 
    color: black;
    font-size: 1rem;
    justify-content: center;
    width: 100%;
  }
  
  .rede-sociais {
    display: flex;
    gap: 24px;
    position: absolute;
    right: 32px;
    color: black;
    
  }
  
  
  .rede-sociais img {
    width: 32px;
    height: 32px;
  }
  
  .rede-sociais p {
    display: block;
  }
@media (max-width:768px)  {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }

    .rede-sociais{
    position: relative;
    right: 0;
    }

    #logo {
        height: 100px;
        width: 100px;
       }
    .ms-3{
        font-size: 2.5rem;
       }
    .nav-link{
        font-size: 2.3rem !important;
       }
    header{
        padding-right: 50px;
    }
}