* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .payment-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .qr-code img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .details {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .details strong {
    color: #000;
  }
  
  .note {
    font-size: 14px;
    color: #666;
  }
  